:root {
  --text-color-dark: #2A2A2A;
  --bg-about-dark: #312F2E;
  --gray-color: #B3B3B3;
  --light-orange-color: #ECD3CA;
  --pink-color: #FF3451;
  --light-gray: #F7F7F7;
  --white-color: #ffffff;
  --light-green-color: #BCD1AA;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #2A2A2A;
  background-image: url(/static/img/background.jpg);
  background-size: cover;
  background-position: center 0px;
}

form {
  position: relative;
  margin: 0 auto;
}

.form {
  width: 100%;
  height: 82px;
  background-color: #ffffff;
  align-items: center;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 20px;
}

.form-text {
  width: 10%;
  margin-left: 35%;
}

.item-image{
  left: 0px;
  top: 0px;
  position: absolute;

}

.item-KnMenu{
  bottom: 850px;
  left: 1580px;
  position: absolute;
   z-index: 1000;
}

.item-KnAkk{
  bottom: 830px;
  left: 1780px;
  position: absolute;
  z-index: 1000;
}