:root {
  --text-color-dark: #2A2A2A;
  --bg-about-dark: #312F2E;
  --gray-color: #B3B3B3;
  --light-orange-color: #ECD3CA;
  --pink-color: #FF3451;
  --light-gray: #F7F7F7;
  --white-color: #ffffff;
  --light-green-color: #BCD1AA;
}

form {
  position: relative;
  margin: 0 auto;
}

.item-image1{
  left: 0px;
  top: 0px;
  position: absolute;
}

.form {
  width: 100%;
  height: 82px;
  background-color: #ffffff;
  align-items: center;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 20px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form-text {
  width: 30%;
  margin-left: 35%;
}

.item-KnMenu{
  bottom: 640px;
  left: 1280px;
  position: absolute;
}

.item-KnAkk{
  bottom: 630px;
  left: 1380px;
  position: absolute;
}

.rectangle{
  left: 610px;
  width: 301px;
  height: 349px;
  position: absolute;
}

.ellipse1 {
  height: 311px;
  left: 90px;
  top: 140px;
  width: 165px;
  position: absolute;
}

.ellipse2 {
  height: 359px;
  left: 352px;
  top: 140px;
  width: 126px;
  position: absolute;
}

.ellipse3 {
  height: 368px;
  left: 1000px;
  top: 109px;
  width: 129px;
  position: absolute;
}

.ellipse4 {
  height: 368px;
  right: 90px;
  top: 109px;
  width: 129px;
  position: absolute;
}

.ellipse5 {
  height: 368px;
  right: 190px;
  top: 424px;
  width: 129px;
  position: absolute;
}

.logo{
  width: 789px; 
  height: 545px; 
  left: 360px;
  top: 500px;
  background: #D9D9D9; 
  border-radius: 34px;
  position: absolute;
}