<!DOCTYPE html>
<html lang="en" style = "line-height: 0;-webkit-text-size-adjust: 100%;"></html>
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", filename="/css/style.css") }}">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital" rel="stylesheet">

    <title>Ogetto.exe</title>
    </head>
    <body>
    <div class="item-KnMenu"><img src={{ url_for("static", filename="img/KnMenu.png") }}></div>
    <div class="item-KnAkk"><img src={{ url_for("static", filename="img/KnAkk.svg") }}></div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="js/main.js"></script>
</body>
</html>