{% extends 'base.html' %}

{% block title %}
Second Page
{% endblock %}

{% block some_text %}
<div class = "container mt-5">
  <h1>Добавление статьи</h1>
  <form method = "post" style="text-align: center">
    <input type = "text" name="title" id = "title" class="form-control" placeholder="Введите название статьи"><br>
    <textarea name="intro" id = "intro" class="form-control" placeholder="Введите Заголовок"></textarea><br>
    <textarea name="text" id = "text" class="form-control" placeholder="Введите текст"></textarea><br>
    <input style="background: blueviolet; border-color: blueviolet" type = "submit" class="btn btn-success" value="Опубликовать"><br>
  </form>
</div>
{% endblock %}